DATABASE_URL="mysql://root:KHDTGJLoYVntrRlNFiEZUvTrAGRxvsHw@maglev.proxy.rlwy.net:58428/railway"
PORT=10000
DB_HOST=maglev.proxy.rlwy.net
DB_USER=root
DB_PASSWORD=KHDTGJLoYVntrRlNFiEZUvTrAGRxvsHw
DB_NAME=railway
DB_PORT=58428
JWT_SECRET=clave-secreta-super-segura-cambiar-en-produccion-12345
DB_SSL=true

